<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container" id="app">
        <div class="card">
            <div class="text">
                <h1>TodoList</h1>
                <div class="text-info">
                    <p>by DimaGulak</p>
                    <p>Обновление 0.1</p>
                </div>
                
            </div>
            <hr>
            <div class="form-control">
                <div class="text">
                    <h3>Введите задание</h3>
                    <div class="block-info">
                        <p>Всего заданий: <span class="cspan">{{post.length}}</span></p>
                        <p>Выполненых заданий: <span class="cspan">{{counter}}</span> </p>
                    </div>
                    
               
                </div>
                
                <input type="text" placeholder="Задание" @input="value=$event.target.value"
                :value="value"
                @keyup.enter="addPost">
            </div>
            <button class="btn" @click="addPost" :disabled="!isBtn">Добавить</button>
            <hr>
            <ul class="list" v-if="post.length > 0">
                <li class="list-item" v-for="value in post">
                    Задание: {{value}}
                    <div class="btns">
                        <button class="btn primary" @click="resultPost">Готово</button>
                        <button class="btn danger" @click="deletePost">Удалить</button>
                    </div>
                    
                   
                </li>
            </ul>
            <div class="text-info" v-else>
                Заданий нет
            </div>
           <div class="done-post" v-if="post.length >= 2">
            <button class="btn primary" @click="doneAll">Готово всё</button>
            <button class="btn danger" @click="deleteAll">Удалить всё</button>
           </div>
           
        </div>
    </div>

    <div class="container pt-5">
        <div class="card">
            <div class="text-upd">
                <h3>Обновление:</h3>
                <h5>0.1</h5>
                <p>В данном Обновление я добавил две кнопки: Готово Всё и удалить Всё,
                    для быстрого редактирования своих заданий. Также адаптировал приложение
                    под мобильные устройства
                </p>
            </div>
            
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
</body>
</html>